<ion-header>
  <ion-toolbar>
    <ion-title>OTP verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Please enter the verification code or OTP</ion-label>
      <ion-input type="number" ></ion-input>
    </ion-item>
    <ion-button >Verify </ion-button>
    <p><i>Please allow up to 1 minute for the OTP to be sent to your phone. If you haven't reached the OTP then try registering again.</i></p>
  </ion-card-content>
</ion-card>
</ion-content>
