<ion-header>
  <ion-toolbar>
     
    <ion-title>Delivery       <ion-button  style='position:absolute;right:10px;top:-12px;font-size:12px' [disabled]="address.length==0 ||  pincode==0 || location.length==0" (click)=confirmDelivery()>Confirm</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Select Primary Location</ion-label>
        <ion-select [(ngModel)]="location">
          <ion-select-option>Kasba</ion-select-option>
          <ion-select-option>Tiljala</ion-select-option>
          <ion-select-option>Ruby</ion-select-option>
          
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text" [(ngModel)]="address"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Pincode</ion-label>
          <ion-input type="number" [(ngModel)]="pincode"></ion-input>
        </ion-item>
        <p style="margin-top:20px">If your location isn't showing in the dropdown , then it probably means we are not delivering in that area for now.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-content>
    <ion-item>
       Total : &#8377;{{total}}
    </ion-item>
    <ion-item>
      Payment by Cash On Delivery (COD)
    </ion-item>
<p style='font-size:13px'>Orders placed in the morning will be delivered around 5pm-9pm and those ordered during the night from 6am-11am</p>
    </ion-card-content>
  </ion-card>
</ion-content>
