<ion-header>
<ion-icon name="arrow-back" class="back" routerLink="/home"></ion-icon>
  <ion-title>Dashboard</ion-title>
</ion-header>
<ion-content padding>
  <img src="assets/infection.jpg" style="width: 350px;height: 200px;">
  <ion-item >
      
      <ion-input type="text" placeholder="Enter a country name" id="search" [(ngModel)]="search"></ion-input>
      <ion-icon name="search"  ></ion-icon>
  </ion-item>
  <ion-button shape="round"  style="margin-left: 120px;" (click)="searchByCountry()"><p style="text-transform: capitalize;">Search</p></ion-button>
  <br>
  <p style="margin-left: 50px;color:blue !important;">Updated on: {{data.Date}}</p>
  <ion-card>
      
      <h5>Infected</h5>
      
      <h5>{{data.TotalConfirmed}}</h5>
      
  </ion-card>
  <ion-card style="margin-left:120px;margin-top:-110px">
    <h5>Recovered</h5>
    
    <h5>{{data.TotalRecovered}}</h5>
  </ion-card>
  <ion-card style="margin-left:230px;margin-top:-110px">
    <h5>Deaths </h5>
    
    <h5>{{data.TotalDeaths}}</h5>
  </ion-card>
</ion-content>