ion-item{
    border: solid 1px lightgray;
    margin-top: 20px;
}
ion-input{
    width: 250px;
    height: 60px;
}
h4{
    margin-left: 50px;
    text-align: left;
}
h5{
    margin-left: 30px;
}
ion-header{
    height: 60px;
}
ion-title{
    margin-top: -30px;
    margin-left: 50px;
    position: absolute;
}
.back{
    font-size: 35px;
    margin-top: 13px;
}