
<ion-content padding>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-header color="primary"><p>Mealking</p></ion-card-header>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="tel" placeholder="Enter Your Phone Number"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" placeholder="Enter Your Password"></ion-input>
      </ion-item>
      <br>
        <br>
      <ion-button class="btn" expand="block" color="light" fill="clear" routerLink="/forgotpassword"><p class="s">Forgot Password</p></ion-button>
      <br>
      <br>
          <ion-button class="bt" expand="block" routerLink="/tabs"><p>Login</p></ion-button>   
  </ion-card>
</ion-content>
<ion-footer>
    <ion-button class="b" expand="block" color="primary" routerLink="/register" routerDirection="forward">Don't have an account? Register</ion-button>
</ion-footer>