h1{
    margin-top: 60% !important;
    text-align: center;
    color: #ffffff !important;
}
ion-content{
    --background: #0000ff;
}
p{
    color: #ffffff !important;
    text-align: center;
    font-size: 18px;
}
