ion-slide{
    height: 500px !important;
}
p{
    text-align: justify;
    color: white;
}
ion-content{
    --background: #fff url('https://media.npr.org/assets/img/2014/06/15/51140413-7b24e23c1293d6cb8f4459c236b132d17c041e0e-s1200.jpg') no-repeat center center / cover;
}