
<ion-content padding>
  <ion-slides pager="true">
    <ion-slide>
      <p>MealKing is an app which eliminates your worries about the uncertainty of availability of milk packets from your dealer.</p>
    </ion-slide>
    <ion-slide>
      <p>MealKing will serve you with minimum delivery charges.</p>
    </ion-slide>
    <ion-slide>
      <p>MealKing will not compromise with the quality of milk.It assures that you will get best quality milk packets from trustworthy dealers.</p>
    </ion-slide>
  </ion-slides>
</ion-content>
