<ion-header>
  <ion-toolbar>
    <ion-title>
      All products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <h4>Amul Dairy Milk</h4>
      <ion-button class="once" color="light"><p>Get Once</p></ion-button>
      <ion-button class="subscribe">Subscribe</ion-button>
    </ion-list>
    <ion-list>
      <h4>Mother Dairy Milk</h4>
      <ion-button class="once" color="light"><p>Get Once</p></ion-button>
      <ion-button class="subscribe">Subscribe</ion-button>
    </ion-list>
    <ion-list>
      <h4>Haringhata Dairy Milk</h4>
      <ion-button class="once" color="light"><p>Get Once</p></ion-button>
      <ion-button class="subscribe">Subscribe</ion-button>
    </ion-list>
    <ion-list>
        <h4>Red Cow Dairy Milk</h4>
        <ion-button class="once" color="light"><p>Get Once</p></ion-button>
        <ion-button class="subscribe">Subscribe</ion-button>
      </ion-list>
      <ion-list>
          <h4>Amulia Dairy Milk</h4>
          <ion-button class="once" color="light"><p>Get Once</p></ion-button>
          <ion-button class="subscribe">Subscribe</ion-button>
        </ion-list>
</ion-content>
