ion-icon{
  font-size: 60px;
  color: blue !important;
}
ion-title{
  margin-top: -30px;
  margin-left: 50px;
  position: absolute;
}
.back{
  margin-left: 0px;
  font-size: 35px;
  color: black !important;
  margin-top: 10px;
}
ion-header{
  height: 60px;
}