<ion-header>
    <ion-icon name="arrow-back" class="back" routerLink="/home"></ion-icon>
      <ion-title>About Me</ion-title>
    </ion-header>
<ion-content padding>
     <img src="assets/sayen.jpg" style="width: 150px;height: 150px;border-radius: 50%;margin-left: 80px;">
     <br>
     <h1 style="margin-left: 80px;">Sayen Dutta</h1>
     <br>
     <h4>Android Developer | Ionic Developer</h4>
     <br>
     <div style="width: 98%;border: 0.5px solid lightgray;"></div>
     <br>
     <p>My Linked Profile: <a href="https://www.linkedin.com/in/sayen-dutta-b24243176/">https://www.linkedin.com/in/sayen-dutta-b24243176/</a></p>
     <br>
     <p>My Facebook Profile: <a href="https://www.facebook.com/sayen.dutta.5">https://www.facebook.com/sayen.dutta.5</a></p>
     <br>
     <p>My Twitter Profile: <a href="https://twitter.com/dutta_sayen">https://twitter.com/dutta_sayen</a></p>
</ion-content>
