.butt{
    margin-left: 35% !important;
}
ion-card{
    --background:rgba(255,255,255,0.7);
}
p{
    color: #000000 !important;
}
    ion-item{
        --background: #;
    }
    h3{
        color: #00ff00 !important;
        text-align: center;
    }
    ion-label{
        color: #ec3b3b !important;
    }
    ion-content{
        --background: #fff url('https://tse4.mm.bing.net/th?id=OIP.3Mg8NcwmNge1Wa5ZXBxRpAHaEn&pid=Api&P=0&w=242&h=152') no-repeat center center / cover;
    }
    .para{
        text-align: center;
    }
    
    