<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <ion-card>
    <ion-card-header color="primary">MealKing</ion-card-header>
      <h3>Forgot Password?</h3>
      <p class="para">We just need your registered E-mail id to send your password reset instructions</p>
      
      <ion-item>
          <ion-label position="floating" color="warning">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-button expand="block" color="secondary"><p>Reset password</p></ion-button>
  </ion-card>
</ion-content>
