<ion-header>
  <ion-toolbar>
    <ion-title>Payment Confirmed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <p style='margin-top:10px;'>Your order has been successfully placed. We will call you in the next 30 minutes to give the exact time of delivery.</p>
 <ion-item>
    <ion-grid style='text-align:center;font-size:14px'>
    <ion-row>
      <ion-col>Total</ion-col>
      <ion-col>&#8377; total</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Address</ion-col>
      <ion-col>address</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Pincode</ion-col>
      <ion-col>pincode</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>Payment</ion-col>
        <ion-col>Cash On Delivery(COD)</ion-col>
      </ion-row>
  </ion-grid>
</ion-item>

<p style='font-size:13px'>Orders placed in the morning will be delivered around 5pm-9pm and those ordered during the night from 6am-11am</p>


<p style='font-size:13px;font-style:italic'>Note:Orders once placed cannot be cancelled. For support , call : +971980588507
</p>
<ion-button >Go to Home</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
