
<ion-content padding>

  <img src='assets/official_logo.png' style='height:30% !important;margin-top:16%;margin-left: 20%'>
    <p style='font-size:13px;margin-top:20px;color:grey'>MealKing is a startup which aims to deliver the most important milk packets of the day without having to miss the memorable moments with your family or friends. We have got you covered. <br/><br/>  <i>"Delivering Quality Milk Packets"</i></p>
    <br>
    <br>
    <ion-grid>
        <ion-row>
    
          <ion-col>
              <ion-button routerLink="/register" class="register">
                 Register
                  </ion-button>
          </ion-col>
       
     
        </ion-row>
      
        <ion-row>
    
            <ion-col>
                <ion-button routerLink="/login" class="login">
                    Login
                    </ion-button>
            </ion-col>
         
       
          </ion-row>
      </ion-grid>
  
     
    </ion-content>
    