h1{
    margin-top: 60% !important;
    text-align: center;
    color: #ffffff !important;
}
ion-content{
    --background: #ffffff;
}
p{
    color: black !important;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}
.register{
    width: 50% !important;
    margin-left: -5%;

}
.login{
    width: 50%;
    margin-top: -17%;
    margin-left: 55%;
}
img{
    
    margin-left: 15px;
}
