

<ion-content padding>
<h1>MealKing</h1>
<p class="pa">MealKing is a milk delivery app which will reduce your day to day burden of bringing milk packets from your dealer within time.
We assure your milk packet delivery at your affordable time without any risk of unavailability of milk packets.
</p>
<br>
<br>
<br>

<ion-grid>
  <ion-row>
    <ion-col >
        <ion-button routerLink="/login" color="primary" expand="block">LOGIN</ion-button>
    </ion-col>
    <ion-col > 
        <ion-button routerLink="/register" color="primary" expand="block">REGISTER</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
