
<ion-content padding>

  <img src='assets/covid_19_virus.jpg' >
  <br>
  <br>
  <p>In this alarming condition of world-wide lockdown due to massive outbreak of covid-19 virus, I have developed this mobile app to spread awareness among people. As an aspiring mobile app developer this is the least I can do.</p>
   <ion-button style="margin-left: 90px;margin-top: 90px;" routerLink="/tabs"><p style="color: white !important;text-transform: capitalize;">Let's Explore</p></ion-button>
</ion-content>
    