<ion-header>
  <ion-toolbar>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngFor="let data of data">
    <ion-card >
        <ion-card-content>
            <ion-item >
                <ion-label>Order No</ion-label>
                <p>#{{data.id}}</p>
              </ion-item>
            <ion-item >
                <ion-label>Date</ion-label>
                <p>{{data.date}}</p>
              </ion-item>
            <ion-item >
                <ion-label>Phone</ion-label>
                <p>{{data.phone}}</p>
              </ion-item>
              <ion-item>
                  <ion-label>Total</ion-label>
                  <p>&#8377; {{data.total}}</p>
                </ion-item>
                <ion-item>
                  <ion-label>Location</ion-label>
                  <p>{{data.location}}</p>
                </ion-item>
                <ion-item>
                  <ion-label>Address</ion-label>
                  <p> {{data.address}}</p>
                </ion-item>
                <ion-item>
                  <ion-label>Pincode</ion-label>
                  <p>{{data.pincode}}</p>
                </ion-item>
        </ion-card-content>
    </ion-card>
  <ion-card >
    <ion-card-content>
     <ng-container *ngFor="let datas of data.list">
      <ion-item *ngIf="datas.quantity>0">
      <ion-label>{{datas.product}}</ion-label>
      <p>Quantity : {{datas.quantity}}</p>
    </ion-item>
  </ng-container>
    </ion-card-content>

  </ion-card>
<ion-card>
  <ion-card-content>
    <ion-item *ngIf="phone==7980588507"> 
        <ion-label>Delivered</ion-label>
        <ion-checkbox></ion-checkbox>
    </ion-item>
<p>For any queries or information regarding this order, contact : +919007688507</p>
  </ion-card-content>
</ion-card>
</ng-container>
</ion-content>
