<ion-header>
  <ion-toolbar>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card >
        <ion-card-content>
            <ion-item >
                <ion-label>Order No</ion-label>
                <p>#id</p>
              </ion-item>
            <ion-item >
                <ion-label>Date</ion-label>
                <p>date</p>
              </ion-item>
            <ion-item >
                <ion-label>Phone</ion-label>
                <p>phone</p>
              </ion-item>
              <ion-item>
                  <ion-label>Total</ion-label>
                  <p>&#8377;</p>
                </ion-item>
                <ion-item>
                  <ion-label>Location</ion-label>
                  <p>location</p>
                </ion-item>
                <ion-item>
                  <ion-label>Address</ion-label>
                  <p> address</p>
                </ion-item>
                <ion-item>
                  <ion-label>Pincode</ion-label>
                  <p>pincode</p>
                </ion-item>
        </ion-card-content>
    </ion-card>
  <ion-card >
    <ion-card-content>
     <ng-container>
      <ion-item >
      <ion-label>product</ion-label>
      <p>Quantity : </p>
    </ion-item>
  </ng-container>
    </ion-card-content>

  </ion-card>
<ion-card>
  <ion-card-content>
<p>For any queries or information regarding this order, contact : +919007688507</p>
  </ion-card-content>
</ion-card>
</ion-content>
