
ion-item{
        --background: none;
}
ion-label{
    color: #ffffff !important;
    text-transform: uppercase;
}
ion-input{
    --placeholder-color: white;
    color: white !important;
}
p{
    color: #ffffff !important;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
}
.register{
    --background: #1fa51f;
}
ion-list{
    --background: none;
}
ion-radio-group{
    --background: none;
}
ion-content{
    --background: linear-gradient(to bottom left,green,#07b1f5);
}
.ba{
    height: 50px !important;
}
h1{
    margin-left: 20%;
    color: white;
}
div{
    width: 100%;
    border: solid white 1px;
}

ion-footer{
    height: 50px !important;
}
